---
import Plants from '../components/plants.svelte'
import '../styles/global.css'
---

<html lang="en">
  <head>
    <title>Foof!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <Plants client:load />
  </body>
</html>